html {
  height: 100%; }
  html body {
    height: 100%;
    background-color: #fff;
    -webkit-font-smoothing: subpixel-antialiased;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.7);
    letter-spacing: 1px;
    line-height: 1.6em;
    display: block; }
    html body #page {
      padding-top: 60px;
      padding-bottom: 80px;
      min-height: 100%;
      position: relative; }
    html body footer#footer {
      opacity: 0.8;
      font-size: 12px;
      position: absolute;
      bottom: 0px;
      width: 100%;
      text-align: center;
      height: 40px;
      background: #fff;
      border-top: 1px solid rgba(0, 0, 0, 0.1); }
      html body footer#footer div {
        line-height: 20px;
        padding: 10px 0; }
    html body hr {
      width: 75%;
      margin: 80px auto 30px auto; }
    html body .overlay {
      display: none;
      height: 100%;
      width: 100%;
      position: fixed;
      z-index: 1000;
      left: 0;
      top: 0;
      background-color: rgba(0, 0, 0, 0.4);
      overflow-x: hidden;
      transition: 0.5s; }
      html body .overlay .loader {
        position: relative;
        top: 30%;
        margin: 0 auto;
        text-align: center;
        margin-top: 30px;
        border: 5px solid #f3f3f3;
        border-top: 5px solid #3498db;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        animation: spin 2s linear infinite; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
    html body p {
      color: #555; }
    html body nav.main-nav {
      padding: 0 20px;
      box-sizing: border-box;
      z-index: 1000;
      top: 0;
      left: 0;
      width: 100%;
      line-height: 1em;
      background-color: #fff;
      -moz-osx-font-smoothing: auto;
      -webkit-font-smoothing: subpixel-antialiased;
      position: fixed;
      /*css for the nav burger icon*/ }
      html body nav.main-nav div.nav-container {
        padding: 20px 0;
        margin: 0 20px;
        display: table;
        width: 76%; }
        html body nav.main-nav div.nav-container div.nav-header {
          display: table-cell; }
          html body nav.main-nav div.nav-container div.nav-header a {
            color: rgba(36, 36, 36, 0.9);
            display: inline-block;
            font-family: 'Pacifico', cursive;
            font-weight: 400;
            font-size: 16px; }
            html body nav.main-nav div.nav-container div.nav-header a:hover {
              cursor: pointer;
              opacity: 0.8;
              text-decoration: none; }
        html body nav.main-nav div.nav-container ul {
          text-align: center;
          display: table-cell; }
          @media screen and (max-width: 1000px) {
            html body nav.main-nav div.nav-container ul {
              display: none; } }
          html body nav.main-nav div.nav-container ul > li {
            display: inline-block;
            padding: 10px 10px 0px 10px; }
            html body nav.main-nav div.nav-container ul > li:after {
              display: block;
              content: '';
              border-bottom: 2px solid #4285f4;
              transform: scaleX(0);
              transition: transform 250ms ease-in-out;
              margin-top: 10px; }
            html body nav.main-nav div.nav-container ul > li:hover:after {
              transform: scaleX(1); }
            html body nav.main-nav div.nav-container ul > li a {
              color: rgba(36, 36, 36, 0.9);
              letter-spacing: 2px; }
              html body nav.main-nav div.nav-container ul > li a:hover {
                cursor: pointer;
                opacity: 0.8;
                text-decoration: none; }
      html body nav.main-nav #burger {
        display: none; }
        @media screen and (max-width: 1000px) {
          html body nav.main-nav #burger {
            display: block;
            position: absolute;
            right: 10px;
            top: 2px; } }
        html body nav.main-nav #burger label.burger-nav {
          margin: 2px 0 0 2px;
          width: 48px;
          height: 48px;
          cursor: pointer;
          transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), transform 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
          -webkit-tap-highlight-color: transparent;
          opacity: 0.9; }
        html body nav.main-nav #burger label.burger-nav.active {
          transform: rotate(90deg); }
        html body nav.main-nav #burger .burger-bread {
          position: absolute;
          width: 50px;
          height: 48px;
          transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1); }
        html body nav.main-nav #burger .burger-bread-top {
          transition: transform 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99);
          transform: rotate(0); }
        html body nav.main-nav #burger .burger-bread-top.active {
          transition: transform 0.25s 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);
          transform: rotate(45deg); }
        html body nav.main-nav #burger .burger-bread-bottom {
          transition: transform 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99);
          transform: rotate(0); }
        html body nav.main-nav #burger .burger-bread-bottom.active {
          transition: transform 0.25s 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);
          transform: rotate(-45deg); }
        html body nav.main-nav #burger .burger {
          display: block;
          width: 20px;
          height: 2px;
          background-color: rgba(0, 0, 0, 0.7);
          position: absolute;
          left: 16px;
          transition: transform 0.2s; }
        html body nav.main-nav #burger .burger-top {
          top: 22px;
          transition: transform 0.2s 0.2s;
          transform: translateY(-3px); }
        html body nav.main-nav #burger .burger-top.active {
          transform: translateY(0);
          transition-delay: 0; }
        html body nav.main-nav #burger .burger-bottom {
          bottom: 22px;
          transform: translateY(3px); }
        html body nav.main-nav #burger .burger-bottom.active {
          transition: transform 0.2s;
          transform: translateY(0); }
    html body .side-nav {
      background-color: #fff;
      height: 100%;
      /* 100% Full-height */
      width: 0;
      /* 0 width - change this with JavaScript */
      position: fixed;
      /* Stay in place */
      z-index: 1001;
      /* Stay on top */
      top: 0;
      right: 0;
      overflow-x: hidden;
      /* Disable horizontal scroll */
      padding-top: 50px;
      /* Place content 60px from the top */ }
      html body .side-nav a {
        padding: 8px 8px 8px 0px;
        margin-left: 32px;
        font-size: 16px;
        display: block;
        transition: 0.3s;
        color: rgba(36, 36, 36, 0.9);
        letter-spacing: 2px;
        border-bottom: 1px dashed rgba(0, 0, 0, 0.1); }
        html body .side-nav a:hover {
          cursor: pointer;
          opacity: 0.8;
          text-decoration: none; }
      html body .side-nav .side-nav a:hover, html body .side-nav .offcanvas a:focus {
        color: #f1f1f1; }
      @media screen and (max-height: 450px) {
        html body .side-nav .side-nav {
          padding-top: 15px; }
        html body .side-nav .side-nav a {
          font-size: 18px; } }
    html body .hp-container #hp-msg {
      position: absolute;
      top: 200px;
      width: 100%;
      text-align: center;
      z-index: 10; }
      html body .hp-container #hp-msg p {
        color: #fff;
        font-size: 6em;
        margin: 0;
        font-family: 'Pacifico', cursive;
        line-height: 1.2em; }
        @media screen and (max-width: 600px) {
          html body .hp-container #hp-msg p {
            font-size: 4em; } }
        html body .hp-container #hp-msg p#rsvp a {
          border: 5px solid #fff;
          color: #fff;
          font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
          font-size: 50px;
          padding: 5px; }
          html body .hp-container #hp-msg p#rsvp a:hover {
            text-decoration: none; }
          @media screen and (max-width: 600px) {
            html body .hp-container #hp-msg p#rsvp a {
              font-size: 30px; } }
    html body .hp-container .hp-slider-wrapper {
      position: relative;
      height: 100%;
      width: 100%;
      overflow: hidden; }
      html body .hp-container .hp-slider-wrapper .sy-pager {
        display: none; }
      html body .hp-container .hp-slider-wrapper .sy-slides-wrap {
        position: fixed;
        top: 0; }
        html body .hp-container .hp-slider-wrapper .sy-slides-wrap .sy-controls {
          display: none; }
        html body .hp-container .hp-slider-wrapper .sy-slides-wrap ul.sy-list li.sy-slide img {
          position: fixed;
          top: 0;
          bottom: -50%;
          left: 0;
          min-height: 100%;
          height: auto;
          width: auto;
          min-width: 100%; }
    html body .food-container {
      max-width: 800px;
      margin: 0 auto;
      padding: 0 20px;
      text-align: center; }
      html body .food-container h3 {
        padding: 40px 0; }
      html body .food-container h4 {
        margin-top: 20px; }
    html body .rsvp-container div.col-md-8 {
      float: none; }
    html body .rsvp-container h3, html body .rsvp-container h4 {
      text-align: center; }
    html body .rsvp-container form.rsvpForm {
      margin-top: 40px; }
      @media screen and (max-width: 1000px) {
        html body .rsvp-container form.rsvpForm .col-md-offset-4 {
          padding-left: 0px; } }
      @media screen and (max-width: 600px) {
        html body .rsvp-container form.rsvpForm .col-md-offset-4 button {
          margin-top: 10px; } }
    html body .rsvp-container .guests-panel, html body .rsvp-container .food-panel, html body .rsvp-container .success-panel, html body .rsvp-container .success-panel-not-attending {
      display: none; }
    html body .rsvp-container .panel-heading {
      font-size: 18px; }
    html body .rsvp-container div.form-group.border-bottom {
      padding-bottom: 15px;
      border-bottom: 1px solid #ddd; }
    html body .rsvp-container p#adult-dessert, html body .rsvp-container p#child-dessert {
      text-align: center; }
    html body .rsvp-container p.nb {
      font-style: italic; }
    html body .rsvp-container button#submitAdultNames, html body .rsvp-container button#submitChildNames {
      display: none; }
    html body .rsvp-container p.error {
      color: #D8000C;
      margin-top: 5px; }
    html body .rsvp-container button.submit {
      margin-right: 20px;
      display: none; }
    html body .rsvp-container h4 img {
      width: 50px;
      margin-right: 20px; }
    html body .venue-container {
      transition: margin-left .5s;
      padding: 20px;
      max-width: 1000px;
      padding: 0 30px;
      margin: 0 auto; }
      html body .venue-container .venue-slider-wrapper {
        padding: 20px 0; }
        html body .venue-container .venue-slider-wrapper .sy-slides-wrap {
          max-height: 500px;
          overflow: hidden; }
        @media screen and (max-width: 600px) {
          html body .venue-container .venue-slider-wrapper .sy-pager {
            display: none; } }
      html body .venue-container h3 {
        text-align: center;
        padding: 30px 0; }
      html body .venue-container h4 {
        padding-top: 30px; }
      html body .venue-container .activities .basecamp-vid {
        padding-top: 30px; }
        html body .venue-container .activities .basecamp-vid iframe {
          margin: 0 auto;
          display: block; }
          @media screen and (max-width: 620px) {
            html body .venue-container .activities .basecamp-vid iframe {
              width: 100%; } }
          @media screen and (max-width: 500px) {
            html body .venue-container .activities .basecamp-vid iframe {
              height: 240px; } }
          @media screen and (max-width: 400px) {
            html body .venue-container .activities .basecamp-vid iframe {
              height: 190px; } }
      html body .venue-container .location .address {
        padding-top: 30px;
        display: inline-block;
        vertical-align: top;
        width: 35%;
        padding-right: 5%; }
        @media screen and (max-width: 1000px) {
          html body .venue-container .location .address {
            display: block;
            padding: 0; } }
      html body .venue-container .location .google-map {
        display: inline-block;
        width: 60%;
        height: 400px;
        padding-top: 30px; }
        @media screen and (max-width: 1000px) {
          html body .venue-container .location .google-map {
            display: block;
            width: 100%; } }
        html body .venue-container .location .google-map iframe {
          width: 100%;
          height: 100%;
          border: none; }

/*# sourceMappingURL=app.css.map */
